.main{
    height: 50vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgas{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Responsive
@media (max-width: 768px) {
  .imgas{
    height: 10vh;
    width: 10vw;
    display: none;
  }
  .main{
    width: 480px;
    display: none;
  }
}

@media (max-width: 480px) {
  .imgas{
    height: 10vh;
    width: 10vw;
    display: none;
  }
  .main{
    width: 480px;
    display: none;
  }
}
