.main{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.interierImages{
    background-color: #fff;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Intertitle{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}